
.discount_block {
    position: relative;
    display: flex;
}

.game_purchase_discount {
    height: 32px;
    overflow: hidden;
}

.game_purchase_discount .discount_original_price {
    position: absolute;
    left: auto;
    right: 6px;
    top: 2px;
    font-size: 11px;
}

.game_purchase_discount .discount_original_price {
    position: absolute;
    left: 76px;
    top: 2px;
    font-size: 11px;
}

.discount_original_price {
    position: relative;
    width: fit-content;
    color: #738895;
    font-size: 11px;
    line-height: 12px;
}

.discount_original_price:before {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    top: 43%;
    border-bottom: 1.5px solid #738895;
    transform: skewY(-8deg);
    box-shadow: 0 0 2px black;
}


element.style {
}

.game_purchase_discount .discount_original_price {
    position: absolute;
    left: auto;
    right: 6px;
    top: 2px;
    font-size: 11px;
}

.game_purchase_discount .discount_original_price {
    position: absolute;
    left: 76px;
    top: 2px;
    font-size: 11px;
}

.discount_original_price {
    position: relative;
    width: fit-content;
    color: #738895;
    font-size: 11px;
    line-height: 12px;
}



.game_area_purchase_game .game_purchase_action, .game_area_comingsoon .game_purchase_action, .game_area_offsite_purchase .game_purchase_action {
    position: absolute;
    right: 16px;
    bottom: -17px;
    left: 16px;
    /* overflow-x: auto; */
    white-space: nowrap;
    text-align: right;
}

.game_purchase_action_bg > * {
    font-size: 12px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.game_purchase_action_bg {
    height: 32px;
    vertical-align: bottom;
    display: inline-block;
    /* background-color: rgba(0,0,0,0.5); */
    background-color: #000000;
    padding: 2px 2px 2px 0px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    white-space: nowrap;
    font-size: 0;
}

/*------------------------------------------------------
    Game Cards
------------------------------------------------------*/

.card-container {
    width: 95%;
    margin: 30px auto;
}

.card-group .card {
    width: 20%;
}

card-group .card:hover {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
    .card-group .card {
        flex-basis: calc(50% - 30px);
    }
}

@media (min-width: 768px) {
    .card-group .card {
        flex-basis: calc(33.33% - 30px);
    }
}

@media (min-width: 992px) {
    .card-group .card {
        flex-basis: calc(25% - 30px);
    }
}


/*------------------------------------------------------
    Featured Game media scroller
------------------------------------------------------*/

#inner {
    width: 40%;
    min-width: 400px;
}

#outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

img,
svg {
    max-width: 100%;
    display: block;
}

/* general styling */

.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: var(--flow-spacer, 1rem);
}

.page-title {
    font-size: 4rem;
    margin: 0;
}

.section-title {
    margin-block: 0rem 1rem;
}

/* media scroller */

.video-game-container {
    position: relative;
}

.video-game-scroller,
.video-game-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
    max-height: 500px;
}

.video-game-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
}

.video-game-group {
    grid-auto-columns: 1fr;
}

.video-game-element {
    border-radius: 0.25rem;
    overflow: hidden;
}

    .video-game-element > img {
        width: 100%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }

.next,
.previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
}

.previous {
    left: 0;
    top: 0;
    bottom: 0;
}

.next {
    right: 0;
    top: 0;
    bottom: 0;
}

.video-game-group:first-child :where(.next, .previous) {
    display: flex;
}

.video-game-scroller:hover :where(.next, .previous) {
    opacity: 1;
}

:where(.next, .previous):hover {
    background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
    transition: transform 30ms linear;
    transform: scale(1);
}

:where(.next, .previous):hover > svg {
    transform: scale(1.2);
}

.video-game-group:target :where(.next, .previous) {
    display: flex;
}

.video-game-scroller:has(:target:not(:first-child))
.video-game-group:first-of-type
.next {
    display: none;
}

/* navigation indicators */

.navigation-indicators {
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 4px;
    top: .5rem;
    right: 2rem;
}

    .navigation-indicators > * {
        width: 1.5rem;
        height: 2px;
        background: white;
        opacity: 0.5;
    }

.video-game-scroller:has(.video-game-group:target)
.navigation-indicators > *:nth-child(1) {
    opacity: 0.5;
}

.navigation-indicators > *:nth-child(1),
.video-game-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
    opacity: 1;
}

.video-game-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
    opacity: 1;
}

.video-game-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3) {
    opacity: 1;
}

.video-game-scroller:hover .navigation-indicators {
    opacity: 1;
}
