
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*------------------------------------------------------------*/

.container {
    width: 95%;
    margin: 30px auto;
}

.card-group .card {
    width: 20%;
}

card-group .card:hover {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
    .card-group .card {
        flex-basis: calc(50% - 30px);
    }
}

@media (min-width: 768px) {
    .card-group .card {
        flex-basis: calc(33.33% - 30px);
    }
}

@media (min-width: 992px) {
    .card-group .card {
        flex-basis: calc(25% - 30px);
    }
}
