@using VideoGameStore.Models;

@{
    ViewData["Title"] = "List of video games";
}

@*Only showing the featured game bar when a search has not occured.*@
@if (ViewBag.ShowFeatured == true)
{
    @Html.Partial("../Shared/VideoGameShared/_FeaturedGames.cshtml")
}

<a class="btn btn-outline-info" onclick="location.href='@Url.Action( "Index", "VideoGames",
        new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })';
    return false;">Sort by title
</a>

@if (ViewBag.CurrentFilter != "" && ViewBag.CurrentFilter != null)
{
    <label style="padding: 5px">Current search filter: @ViewBag.CurrentFilter</label>
}

@*Shows all video game cards that come up from the current search/sort criteria*@
@Html.Partial("../Shared/VideoGameShared/_VideoGameCards.cshtml")

@await Html.PartialAsync("_CreateItem", "VideoGames")