@using VideoGameStore.Models;
@using VideoGameStore.Data.Enums;

@{
    ViewData["Title"] = "List of video games";
    var tempShowFeatured = TempData["ShowFeatured"];
}

@if (tempShowFeatured.ToString() == "true")
{
    @Html.Partial("../Shared/VideoGameShared/_FeaturedGames.cshtml")
    <a class="btn btn-outline-info" onclick="location.href=
        '@Url.Action( "Index", "VideoGames",new { sortOrder = ViewBag.TitleSortParm })';
        return false;">Sort by title
    </a>
}

@Html.Partial("../Shared/VideoGameShared/_VideoGameCards.cshtml")

@await Html.PartialAsync("_CreateItem", "VideoGames")