@using VideoGameStore.Models;
@using VideoGameStore.Data.Enums;

@{
    ViewData["Title"] = "List of video games";
    var tempShowFeatured = TempData["ShowFeatured"];
}

@if (tempShowFeatured.ToString() == "true")
{
    @Html.Partial("../Shared/VideoGameShared/_FeaturedGames.cshtml")
}

<a class="btn btn-success text-white" asp-controller="VideoGames"
   asp-action="Sort" > Sort by title</a>

@*@Html.Partial("../Shared/VideoGameShared/_FilterVideoGames.cshtml")*@

@Html.Partial("../Shared/VideoGameShared/_VideoGameCards.cshtml")

@await Html.PartialAsync("_CreateItem", "VideoGames")