<div class="row">
    <div class="col-md-6 offset-3 btn-outline-success text-center">
        <h2>Order completed successfully</h2>
        <p>All orders can be reviewed in the 'Orders' section of your profile</p>
        <hr />
        <p>Thank you!</p>

        <p>
            <a asp-controller="Orders" asp-action="Index" class="btn btn-outline-success">View all orders</a>
            <a asp-controller="VideoGames" asp-action="Index" class="btn btn-outline-info">Return to home page</a>
        </p>
    </div>
</div>