@using VideoGameStore.Data.Enums;
@model IEnumerable<VideoGameVM>

@{
    // ToDo: Make the featured games VideoGameVM to allow displaying of discounts.
    VideoGameVM featuredGame1 = ViewBag.featuredGames[0];
    VideoGameVM featuredGame2 = ViewBag.featuredGames[1];
    VideoGameVM featuredGame3 = ViewBag.featuredGames[2];
}

@*ToDo: There exists a bug where if you refesh the page and the featured game is not #1, then the next/prevous buttons will be
        displayed incorrectly causing some confusion to the user. On refresh, set group-1 as current view.*@

<div id="outer" ">
    <div id="inner">
        <h2 class="section-title">Featured Games</h2>

        <div class="video-game-container">
            <div class="video-game-scroller">
                <!--   Group 1 -->
                <div class="video-game-group" id="group-1">
                    @Html.Partial("_FeaturedGameCard.cshtml", featuredGame1)
                    <a class="next" href="#group-2" aria-label="next">
                        <svg>
                            <use href="#next"></use>
                        </svg>
                    </a>
                </div>

                <!-- Group 2   -->
                <div class="video-game-group" id="group-2">
                    <a class="previous" href="#group-1">
                        <svg>
                            <use href="#previous"></use>
                        </svg>
                    </a>
                    @Html.Partial("_FeaturedGameCard.cshtml", featuredGame2)
                    <a class="next" href="#group-3" aria-label="next">
                        <svg>
                            <use href="#next"></use>
                        </svg>
                    </a>
                </div>

                <!-- Group 3   -->
                <div class="video-game-group" id="group-3">
                    <a class="previous" href="#group-2">
                        <svg>
                            <use href="#previous"></use>
                        </svg>
                    </a>
                    @Html.Partial("_FeaturedGameCard.cshtml", featuredGame3)
                </div>
                <div class="navigation-indicators">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
    @*Arrows for left and right movement, they take up a lot of space, so placing to the right side of the feature container*@
    <svg>
    <symbol id="next" viewBox="0 0 256 512">
    <path fill="white"
    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
    </symbol>

    <symbol id="previous" viewBox="0 0 256 512">
    <path fill="white"
    d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
    </symbol>
    </svg>
</div>
