@model Developer

@{
    ViewData["Title"] = "Add new Developer";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Developer</h1>
        </p>
        @Html.Partial("../Shared/PublisherDeveloperShared/_Create.cshtml")
    </div>
</div>

@section Scripts{
    <script>
        //If an Error occurs due to oninvalid data, the following attempts to display the Picture again.
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#LogoURL").val();
        })

        // Display picture upon URL posting
        $("#LogoURL").on("change", function () {
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        })
    </script>
}