@model int;

@if(Model > 1)
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Orders" asp-action="ShoppingCart">
            <i class="bi bi-cart4"></i> @Model
        </a>
    </li>
}
