<div class="row">
    <div class="col-mid-6 offset-3">
        <h1 class="text-info">Item not found</h1>
        <hr />
        <a class="btn btn-outline-success" asp-asp-controller="VideoGames" asp-action="Index">Home Page</a>
    </div>
</div>